.stepThree {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stepThree > svg {
    font-size: 70px;
    color: #4bb543;
    margin-bottom: 10px;
}

.stepThree > h2 {
    margin-bottom: 20px;
}

.stepThree > a {
    width: 300px;
    text-align: center;
}