.addresses > h2 {
    margin-bottom: 15px;
    font-size: 18px;
}

.address {
    border: 2px solid #4e4e4e;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.address > p:last-child {
    color: #4e4e4e;
}

.address:hover {
    cursor: pointer;
    border-color: var(--color-primary);
}

.address.active {
    border-color: var(--color-primary);
}

.newAddress {
    display: flex;
    align-items: center;
    gap: 5px;
}

.newAddress svg {
    color: #4e4e4e;
    font-size: 20px;
}